---
name: CI

on:
  push:
    tags:
      - v*
  pull_request:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build:
    name: Build and Test
    uses: neticdk/shared-github-actions/.github/workflows/go-ci.yaml@main
    with:
      go-private: "github.com/containdk"
      run-benchmarks: true
      run-release-test: false
    secrets:
      gh_username: "ic-robot"
      gh_token: ${{ secrets.CONTAIN_BOT_PAT }}

  release:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Create release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          generate_release_notes: true

  distribute:
    uses: ./.github/workflows/cd.yaml
    if: startsWith(github.ref, 'refs/tags/')
    needs: release
    secrets: inherit
